
<% include partials/header %>

<div class="ui container">
<h1>Add Campground</h1>

<form action="/camps" method="POST">
    <div class="ui input fluid focus">
  <input type="text" name="camp[name]" placeholder="Camp name">
</div>
     <div class="ui input fluid focus">
  <input type="text" name="camp[image]" placeholder="Image url">
</div>
    <div class="ui input fluid focus">
  <input type="text" name="camp[desc]" placeholder="Description...">
</div>
<div class="ui input fluid focus">
<input type="text" name="camp[address]" placeholder="Address...">
</div>
    <input id="sbmtbtn" class="ui purple basic button" type="submit">
</form>

</div>

<% include partials/footer %>
