
<% include partials/header %>

<div class = "addform">

<form action="/campgrounds" method=POST>

  <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text"  id="basic-addon1">User Name :</span>
  </div>
  <input type="text" class="form-control" name=camp[user] value=<%=us%> placeholder="User name" aria-label="Username" aria-describedby="basic-addon1" readonly>
</div>

  <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text"  id="basic-addon1">Campground Name :</span>
  </div>
  <input type="text" class="form-control" name=camp[name] placeholder="Campground Name" aria-label="Username" aria-describedby="basic-addon1">
</div>

  <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Image URL :</span>
  </div>
  <input type="text" class="form-control" name=camp[image] placeholder="Image URL" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Description :</span>
  </div>
  <input type="text" class="form-control" name=camp[description] placeholder="Describe Campground" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">$</span>
  </div>
  <input type="text" class="form-control" name=camp[price] aria-label="Amount (to the nearest dollar)">
  <div class="input-group-append">
    <span class="input-group-text">/night</span>
  </div>
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Location :</span>
  </div>

  <input id="locationTextField" class="form-control" name=camp[address] type="text" size="50" aria-label="Username" aria-describedby="basic-addon1">

        <script>
            function init() {
                var input = document.getElementById('locationTextField');
                var autocomplete = new google.maps.places.Autocomplete(input);
            }

            google.maps.event.addDomListener(window, 'load', init);
        </script>
</div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<% include partials/footer %>
