
<% include partials/header %>

<div class = "addform">

<form action="/campgrounds" method=POST>
  <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text"  id="basic-addon1">Name :</span>
  </div>
  <input type="text" class="form-control" name=camp[name] placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>
  
  <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Image URL :</span>
  </div>
  <input type="text" class="form-control" name=camp[image] placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Description :</span>
  </div>
  <input type="text" class="form-control" name=camp[description] placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>


<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Location :</span>
  </div>
  <input type="text" class="form-control" name=camp[address] placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<% include partials/footer %>
