
<div class="container">
<div class="jumbotron vertical-center">
             <div class="container">
  <h1 class="display-4">Welcome to CrowdSourced Campgrounds!</h1>
  <p class="lead">Add information about any campground or explore the existing campgrounds</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/campgrounds/new" role="button">Add Campground</a>
</div>
</div>
</div>
<% include partials/header %>



  <%   camps.forEach(function(camp){ %>

<div class="col-auto mb-4">
            <div class="card" style="width: 18rem;">
             <div class="thumbnail">
               <img class="card-img-top" src="<%=camp.image%>" alt="Card image cap">
               </div>
  <div class="card-body">
    <h5 class="card-title"><%=camp.name%></h5>
    
    <a href="/campgrounds/<%=camp._id%>" class="btn btn-primary">Explore</a>
  </div>
   <div class="card-footer">
      <small class="text-muted">Added by .........</small>
    </div>
            </div>
        </div>


   <%  }) %>

 


<% include partials/footer %>
