<h1>Add Camps</h1>

<form action="/addcamp" method="POST">
    <input type="text" name="camp[name]">
    <input type="text" name="camp[image]">
    <textarea name="camp[desc]"></textarea>
    <input type="submit">
</form>