
<% include partials/header %>



  <%   camps.forEach(function(camp){ %>

<div class="col-auto mb-4">
            <div class="card" style="width: 18rem;">
             <div class="thumbnail">
               <img class="card-img-top" src="<%=camp.image%>" alt="Card image cap">
               </div>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
   <div class="card-footer">
      <small class="text-muted">Added by .........</small>
    </div>
            </div>
        </div>


   <%  }) %>

 


<% include partials/footer %>
