
<% include partials/header %>
<h1>Camps List</h1>

<% camps.forEach(function(camp) { %>
    <div>
        <h2> <%= camp.name %> </h2>
        <img src="<%= camp.image %> ">
        <p> <%= camp.desc.substring(0,100) %>... </p>
        <a href="/blogs/<%= camp._id %>"> Show more </a>
    </div>
<% }); %>


<% include partials/footer %>
